<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Legislative Info System</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-section">Legislators</div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="legislator-form">
                <span class="bi bi-person-plus-fill-nav-menu" aria-hidden="true"></span> Add Legislator
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="legislators">
                <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> View Legislators
            </NavLink>
        </div>

        <div class="nav-section">Legislation</div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="legislation-form">
                <span class="bi bi-file-earmark-plus-fill-nav-menu" aria-hidden="true"></span> Add Legislation
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="legislation">
                <span class="bi bi-file-earmark-text-fill-nav-menu" aria-hidden="true"></span> View Legislation
            </NavLink>
        </div>
    </nav>
</div>